@page
@model Blessed_Party.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}

<style>
    #login-container {
        margin: auto;
        width: 500px;
    }

    .register-text {
        color: hotpink;
    }

        .register-text:hover {
            color: deeppink;
        }
</style>

<div id="login-container">
    <div class="align-items-center mb-3" style="margin:auto">
        <img src="~/images/bp_logo.jpg" class="mb-3 mt-3" style="display:block; margin:auto; width:70px" />
    </div>
   
    <form id="forget-page" asp-page-handler="Forgot" method="post">
        <input type="hidden" name="returnUrl" value="@TempData["returnUrl"]" />
        @*<div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="usernameLogin" asp-for="Input.username" placeholder="Username" required>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" asp-for="Input.user_email" class="form-control" id="email" placeholder="Email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <label style="color:red">@TempData["Message"]</label>
            </div>
        </div>
        <div class="text-right">
            <div style="display:inline">
                <input type="submit" value="Submit" class="btn btn-primary text-white" />
            </div>
        </div>
    </form>
</div>
